<!-- Purpose: This file will contain the HTML structure for the Data Collection interface, accessible by both canvassers and managers. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<!-- Navbar -->
<nav id="navbar">
    <ul>
        <!-- Show the role on the left side -->
        <li style="float: left; background-color: #007bff; color: white; padding: 8px 25px; list-style: none;">
            <div> Role: {{ role }} </div>
            <div> Nickname: {{ nickname }} </div>
        </li>

        <!-- Menu links to the other pages -->
        {% if role != 'Manager' %}
        <li style="float: right;"><a href="{{ url_for('data_collection') }}">Data Collection</a></li>
        {% endif %}
        {% if role != 'Manager' %}
        <li style="float: right;"><a href="{{ url_for('field_support') }}">Field Support</a></li>
        {% endif %}
        {% if role != 'Canvasser' %}
        <li style="float: right;"><a href="{{ url_for('prospect_qualification') }}">Prospect Qualification</a></li>
        {% endif %}
        {% if role == 'Manager' %}
        <li style="float: right;"><a href="{{ url_for('analytics') }}">Analytics</a></li>
        {% endif %}
        <li style="float: right;"><a href="{{ url_for('role_selection') }}">Change Role</a></li>
    </ul>
</nav>
<body>

    <div class="flex-container">
        <h1>Data Collection Page</h1> 
        <!-- Toggle button for form visibility -->
        <button id="toggle-form">Hide Form</button>
        <div class="form-section">
            <h2>Submission Form</h2>
            <p>Please fill out the form below. Fields marked with an asterisk (*) are mandatory.</p>
            <form action="{{ url_for('submit_data') }}" method="post">
                <!-- Mandatory Fields -->
                 <!-- TODO: implement the address autocomplete through Google Maps API -->
                <div class="form-group">
                    <label for="address">Address *</label>
                    <input type="text" id="address" name="address" required>
                </div>
                <div class="form-group">
                    <label for="timestamp">Time of contact *</label>
                    <input type="datetime-local" id="timestamp" name="timestamp" required>
                </div>
                <div class="form-group">
                    <label for="prospect_response">Prospect Response *</label>
                    <select id="prospect_response" name="prospect_response" required>
                        <option value="">--Select a response--</option>
                        <option value="No answer">No answer</option>
                        <option value="Not interested (Homeowner)">Not interested (Homeowner)</option>
                        <option value="Not interested / allowed (Renter)">Not interested / allowed (Renter)</option>
                        <option value="Request to Return later">Request to Return later</option>
                        <option value="Positive conversation (Initial)">Positive conversation (Initial)</option>
                        <option value="Positive conversation (Detailed)">Positive conversation (Detailed)</option>
                        <option value="Appointment set">Appointment set</option>
                    </select>
                </div>
                <!-- Additional Fields to Appear When 'Appointment set' is Selected -->
                <div id="appointment-details" style="display: none;">
                    <!-- Name and Surnmane -->
                    <div class="form-group">
                        <label for="name_surname">Name and Surname *</label>
                        <input type="text" id="name_surname" name="name_surname">
                    </div>
                    <!-- Contact Email -->
                    <div class="form-group">
                        <label for="contact_email">Contact Email *</label>
                        <input type="email" id="contact_email" name="contact_email">
                    </div>
                    <!-- Contact Phone Number -->
                    <div class="form-group">
                        <label for="contact_phone">Contact Phone Number *</label>
                        <input type="tel" id="contact_phone" name="contact_phone">
                    </div>
                    <!-- Appointment Time -->
                    <div class="form-group">
                        <label for="appointment_time">Appointment Time *</label>
                        <input type="datetime-local" id="appointment_time" name="appointment_time">
                    </div>
                </div>
                <!-- Optional Fields -->
                <div class="form-group">
                    <label for="reason_of_no">Reason of 'No' (if applicable)</label>
                    <div id="reason_of_no">
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="n/a"> n/a</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Reason not provided"> Reason not provided</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Already got solar panels on rooftop"> Already got solar panels on rooftop</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Does not make economical sense"> Does not make economical sense</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Electricity bill is already low"> Electricity bill is already low</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Busy at the moment / other priorities"> Busy at the moment / other priorities</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Too old"> Too old</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Rooftop to renovate first"> Rooftop to renovate first</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Does not trust door knocking people"> Does not trust door knocking people</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Soon moving out / selling the house"> Soon moving out / selling the house</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Already agreed with competitor"> Already agreed with competitor</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Too much shading"> Too much shading</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="reason_of_no[]" value="Other (explain in Comments)"> Other (explain in Comments)</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="solar_panels_on_roof">Solar Panels on Roof</label>
                    <select id="solar_panels_on_roof" name="solar_panels_on_roof">
                        <option value="">--Select a response--</option>
                        <option value="Yes, new PV (less than 5 years old)">Yes, new PV (less than 5 years old)</option>
                        <option value="Yes, old PV (more than 5 years old)">Yes, old PV (more than 5 years old)</option>
                        <option value="Yes, thermal panels">Yes, thermal panels</option>
                        <option value="No">No</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="roof_type_condition">Roof Type & Condition</label>
                    <select id="roof_type_condition" name="roof_type_condition">
                        <option value="">--Select a response--</option>
                        <option value="Flat, in good conditions">Flat, in good conditions</option>
                        <option value="Flat, needs repair">Flat, needs repair</option>
                        <option value="Pitched, in good condition">Pitched, in good condition</option>
                        <option value="Pitched, needs repair">Pitched, needs repair</option>
                        <option value="Other (specify in Comments)">Other (specify in Comments)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="shading_issues">Shading Issues</label>
                    <select id="shading_issues" name="shading_issues">
                        <option value="">--Select a response--</option>
                        <option value="None">None</option>
                        <option value="Partial">Partial</option>
                        <option value="Significant">Significant</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="appliances">Appliances & House Characteristics</label>
                    <div id="appliances">
                        <label style="font-weight: normal;"><input type="checkbox" name="appliances[]" value="Swimming pool"> Swimming pool</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="appliances[]" value="Air Conditioning"> Air Conditioning</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="appliances[]" value="Electrical Vehicle(s)"> Electrical Vehicle(s)</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="appliances[]" value="Large garden"> Large garden</label><br>
                        <label style="font-weight: normal;"><input type="checkbox" name="appliances[]" value="Other (specify in Comments)"> Other (specify in Comments)</label><br>
                    </div>
                </div>
                <div id="contact-fields" style="display: none;">
                    <div class="form-group">
                        <label for="electricity_bill_estimate">Quarterly Electricity Bill Estimate (in $)</label>
                        <input type="number" id="electricity_bill_estimate" name=electricity_bill_estimate>
                    </div>
                    <div class="form-group">
                        <label for="number_of_decision_makers">Number of Decision Makers</label>
                        <select id="number_of_decision_makers" name="number_of_decision_makers">
                            <option value="">--Select a response--</option>
                            <option value="One">One</option>
                            <option value="Two">Two</option>
                            <option value="Multiple">Multiple</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="approximate_age">Approximate Age of Decision Maker(s)</label>
                        <select id="approximate_age" name="approximate_age">
                            <option value="">--Select a response--</option>
                            <option value="18-30">18-30</option>
                            <option value="31-45">31-45</option>
                            <option value="46-60">46-60</option>
                            <option value="61-80">61-80</option>
                            <option value="81+">81+</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number_inhabitants">Number of Inhabitants in the House</label>
                        <select id="number_inhabitants" name="number_inhabitants">
                            <option value="">--Select a response--</option>
                            <option value="1-2">1</option>
                            <option value="1-2">2</option>
                            <option value="3-4">3-4</option>
                            <option value="5+">5+</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="additional_notes">Additional Notes / Comments</label>
                    <textarea id="additional_notes" name="additional_notes"></textarea>
                </div>
                <!-- Submit Button -->
                <button type="submit">Submit Data</button>
            </form>
        </div>

        
        
        <!-- Add the table to display MongoDB data -->
        <h2>Collected Data</h2>
        {% set sample_count = data|length %}
        <p style="text-align: center;">There {{ 'is' if sample_count == 1 else 'are' }} currently <strong>{{ sample_count }}</strong> data sample{{ '' if sample_count == 1 else 's' }} in the database.</p>
        <!-- Delete all button to delete all data from table -->
        <button class="delete-all-btn" id="delete-all-btn">Delete all</button>
        <!-- Define the columns mapping to match the Table headers and the MongoDB keys-->
        {% set columns = [
            {'key': '_id', 'name': 'Prospect ID'},
            {'key': 'address', 'name': 'Address'},
            {'key': 'timestamp', 'name': 'Time of Contact'},
            {'key': 'prospect_response', 'name': 'Prospect Response'},
            {'key': 'name_surname', 'name': 'Name and Surname'},
            {'key': 'contact_email', 'name': 'Contact Email'},
            {'key': 'contact_phone', 'name': 'Contact Phone Number'},
            {'key': 'appointment_time', 'name': 'Appointment Time'},
            {'key': 'reason_of_no', 'name': "Reason of 'No'"},
            {'key': 'solar_panels_on_roof', 'name': 'Solar Panels on Roof'},
            {'key': 'roof_type_condition', 'name': 'Roof Type & Condition'},
            {'key': 'shading_issues', 'name': 'Shading Issues'},
            {'key': 'appliances', 'name': 'Appliances & House Characteristics'},
            {'key': 'electricity_bill_estimate', 'name': 'Quarterly Electricity Bill Estimate (in $)'},
            {'key': 'number_of_decision_makers', 'name': 'Number of Decision Makers'},
            {'key': 'approximate_age', 'name': 'Approximate Age of Decision Maker(s)'},
            {'key': 'number_inhabitants', 'name': 'Number of Inhabitants in the House'},
            {'key': 'additional_notes', 'name': 'Additional Notes / Comments'},
            {'key': 'Submitted by', 'name': 'Submitted by'}
        ] %}
        <div class="table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th></th>
                        {% for column in columns %}
                            <th>{{ column.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody> 
                    {% if data %}
                        {% for row in data %}
                            <tr>
                                <td class="delete-cell-column">
                                    <button class="delete-btn" data-id="{{ row['_id'] }}">X</button>
                                </td>
                                {% for column in columns %}
                                    <td>{{ row.get(column.key, '') }}</td>

                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="{{ columns|length + 1 }}">No data available yet.</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                
            </table>
        </div>
    </div>
</body>
</html>
