<!-- Purpose: This file will contain the HTML structure for the Field Support interface, accessible by both canvassers and managers. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="flex-container">
        <h1>You are in the Field Support page</h1>
    </div>
</body>
</html>
