<!-- Purpose: This file will contain the HTML structure for the Field Support interface, accessible by both canvassers and managers. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Leads - Field Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='maps.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/leaflet-control-custom@1.0.0/Leaflet.Control.Custom.js"></script>
</head>
<!-- Navbar -->
<nav id="navbar">
    <ul>
        <!-- Show the role on the left side -->
        <li style="float: left; background-color: #007bff; color: white; padding: 8px 25px; list-style: none;">
            <div> Role: {{ role }} </div>
            <div> Nickname: {{ nickname }} </div>
        </li>

        <!-- Menu links to the other pages -->
        {% if role != 'Manager' %}
        <li style="float: right;"><a href="{{ url_for('data_collection') }}">Data Collection</a></li>
        {% endif %}
        {% if role != 'Manager' %}
        <li style="float: right;"><a href="{{ url_for('field_support') }}">Field Support</a></li>
        {% endif %}
        {% if role != 'Canvasser' %}
        <li style="float: right;"><a href="{{ url_for('prospect_qualification') }}">Prospect Qualification</a></li>
        {% endif %}
        {% if role == 'Manager' %}
        <li style="float: right;"><a href="{{ url_for('analytics') }}">Analytics</a></li>
        {% endif %}
        <li style="float: right;"><a href="{{ url_for('role_selection') }}">Change Role</a></li>
    </ul>
</nav>
<body>
    <div class="flex-container">
        <h1>Field Support Page</h1>
        <h2>Today's performance</h2>
        <div class="date-selector">
            <label for="date-select">Select Date:</label>
            <input type="date" id="date-select">
        </div>
        <p class="data-tip"><strong>Tip:</strong> The data of the pre-populated dataset created for the demo go from the 7th of September 2024 to the 7th of October 2024, weekends included.
            Select a date in this range to visualize the related data.</p>
    
        <div class="performance-grid">
            <div class="performance-item">
                <h2>{{ performance.doors_knocked }}</h2>
                <p>Doors knocked today</p>
            </div>
            <div class="performance-item">
                <h2>{{ performance.appointments_set }}</h2>
                <p>Appointment{{ 's' if performance.appointments_set != 1 else '' }} set today</p>  <!--  FIXME: the adding or removing of the 's' doesn't work-->
            </div>
            <div class="performance-item">
                <h2>{{ performance.rank_doors_knocked }}</h2>
                <p>in Doors knocked today within your team</p>
            </div>
            <div class="performance-item">
                <h2>{{ performance.rank_appointments_set }}</h2>
                <p>in Appointments set today within your team</p>
            </div>
            <div class="performance-item">
                <h2>{{ performance.doors_away }}</h2>
                <p>Doors away from your daily goal</p>
            </div>
            <div class="performance-item">
                <h2>{{ performance.conv_rate}}</h2>
                <p>your Conversion Rate today</p>
            </div>
        </div>

        <h2>Prospects' map (AI powered feature)</h2>
        <p class="data-tip"><strong>Tip:</strong> Customize your map view by toggling elements on or off using the Legend icons, and click on individual map markers to reveal detailed information about each data point.
            The map in 'disabled clustering' mode could take a while to load and be a bit slow due to the amount of data points displayed. It's suggested to use it only when zoomed in and/or when a few categories of data points are disabled.</p>
        <div id="map"></div>

         <h2>Suggested route</h2> <!--TODO: complete this part -->
         <p class="data-tip"><strong>Potential future updates:</strong> This section will present an optimized route suggestion, balancing high-priority targets (such as addresses with the highest predicted conversion rates from the ad-hoc developed ML model and previously unvisited houses) with efficient travel time between locations.</p>
        
         <h2>Addresses worth returning (AI powered feature)</h2>
         <p class="data-tip"><strong>Tip:</strong> This table displays addresses of houses deemed worth revisiting, as determined by the ML model's predictions. These locations are identified as having a high probability of converting into successful sales.
        They are displayed on the 'Prospects' map' under the categories 'No answer: worth returning (AI powered feature)' and 'Request to Return later: worth returning (AI powered feature).'</p>
        <!-- Pagination controls -->
        <div class="pagination-container">
            <div class="pagination">
                {% if current_page > 1 %}
                    <a href="{{ url_for('field_support', page=current_page-1) }}">&laquo; Previous</a>
                {% endif %}
                
                <span>Page {{ current_page }} of {{ total_pages }}</span>
                
                {% if current_page < total_pages %}
                    <a href="{{ url_for('field_support', page=current_page+1) }}">Next &raquo;</a>
                {% endif %}
            </div>
            
            <div class="page-input">
                <form action="{{ url_for('field_support') }}" method="get">
                    <label for="page">Go to page:</label>
                    <input type="number" id="page" name="page" min="1" max="{{ total_pages }}" value="{{ current_page }}">
                    <button type="submit">Go</button>
                </form>
            </div>
        </div>
        <p>Showing {{ (current_page - 1) * per_page + 1 }} - {{ [current_page * per_page, total_count] | min }} of {{ total_count }} records</p>
        {% set columns = [
            {'key': 'ML_model_pred_worth_returning', 'name': 'ML Model Prediction: Worth Returning'},
            {'key': 'ML_model_pred_prob_of_app', 'name': 'ML Model Prediction: Probability of Appointment'},
            {'key': '_id', 'name': 'Prospect ID'},
            {'key': 'address', 'name': 'Address'},
            {'key': 'latitude', 'name': 'Latitude'},
            {'key': 'longitude', 'name': 'Longitude'},
            {'key': 'timestamp', 'name': 'Time of Contact'},
            {'key': 'prospect_response', 'name': 'Prospect Response'},
            {'key': 'name_surname', 'name': 'Name and Surname'},
            {'key': 'contact_email', 'name': 'Contact Email'},
            {'key': 'contact_phone', 'name': 'Contact Phone Number'},
            {'key': 'appointment_time', 'name': 'Appointment Time'},
            {'key': 'follow_up_time', 'name': 'Follow-up Time'},
            {'key': 'reason_of_no', 'name': "Reason of 'No'"},
            {'key': 'solar_panels_on_roof', 'name': 'Solar Panels on Roof'},
            {'key': 'roof_type_condition', 'name': 'Roof Type & Condition'},
            {'key': 'shading_issues', 'name': 'Shading Issues'},
            {'key': 'appliances', 'name': 'Appliances & House Characteristics'},
            {'key': 'electricity_bill_estimate', 'name': 'Quarterly Electricity Bill Estimate (in $)'},
            {'key': 'number_of_decision_makers', 'name': 'Number of Decision Makers'},
            {'key': 'approximate_age', 'name': 'Approximate Age of Decision Maker(s)'},
            {'key': 'number_inhabitants', 'name': 'Number of Inhabitants in the House'},
            {'key': 'additional_notes', 'name': 'Additional Notes / Comments'},
            {'key': 'Submitted by', 'name': 'Submitted by'}
        ] %}
        <div class="table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th></th>
                        {% for column in columns %}
                            <th>{{ column.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody> 
                    {% if data %}
                        {% for row in data %}
                            <tr>
                                <td class="delete-cell-column">
                                    <button class="delete-btn" data-id="{{ row['_id'] }}">X</button>
                                </td>
                                {% for column in columns %}
                                    <td>{{ row.get(column.key, '') }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="{{ columns|length + 1 }}">No data available yet.</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                
            </table>
        </div>

        <h2>Pitch recap</h2> <!--FIXME: the pitch can be modified but cannot be saved, being lost when the page is reloaded. Save it in MongoDB and associate it to the specific user -->
        <p class="data-tip"><strong>Tip:</strong> Customize the pitch to suit your needs and save your personalized version.</p>
        <div id="pitch-recap">
            <textarea id="pitch-box" readonly></textarea>
            <div class="pitch-buttons">
                <button id="edit-btn">Edit</button>
                <button id="save-btn" style="display: none;">Save</button>
            </div>
        </div>

        <h2>Overall performance</h2>
        <div class="performance-grid overall-performance">
            <div class="performance-item">
                <h2 id="total-doors-knocked">-</h2>
                <p>Doors you knocked since you started</p>
            </div>
            <div class="performance-item">
                <h2 id="total-appointments-set">-</h2>
                <p>Appointments set since you started</p>
            </div>
            <div class="performance-item">
                <h2 id="average-conv-rate">-</h2>
                <p>Your average Conversion Rate</p>
            </div>
            <div class="performance-item">
                <h2 id="days-since-started">-</h2>
                <p>Days since you started</p>
            </div>
        </div>

        <div id="sync-status"></div>
    </div>
    <svg style="display: none;">
        <symbol id="sun-icon" viewBox="0 0 24 24">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7 .2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z"/></svg>
        </symbol>
        <symbol id="robot-icon" viewBox="0 0 24 24">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M32 224H64V416H32A32 32 0 0 1 0 384V256A32 32 0 0 1 32 224zm512-48V448a64.1 64.1 0 0 1 -64 64H160a64.1 64.1 0 0 1 -64-64V176a80 80 0 0 1 80-80H288V32a32 32 0 0 1 64 0V96H464A80 80 0 0 1 544 176zM264 256a40 40 0 1 0 -40 40A40 40 0 0 0 264 256zm-8 128H192v32h64zm96 0H288v32h64zM456 256a40 40 0 1 0 -40 40A40 40 0 0 0 456 256zm-8 128H384v32h64zM640 256V384a32 32 0 0 1 -32 32H576V224h32A32 32 0 0 1 640 256z"/></svg>        </symbol>
      </svg>
</body>
</html>
