<!-- Purpose: This is the initial page that appears when the application starts -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Leads</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script defer data-domain="solar-leads.co" src="https://plausible.io/js/script.outbound-links.js"></script>
</head>
<body>
    <div class="flex-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/Solar Leads Logo.svg') }}" alt="Solar Leads Logo" class="logo">
        </div>
        <p class="description"><strong style="color: #F29C38;">Revolutionize</strong> your residential solar sales: transform <strong style="color: #F29C38;">random door-knocking</strong> into strategic success <strong style="color: #F29C38;">with our AI-powered, data-driven approach</strong>. <strong style="color: #F29C38;">Empower your D2D teams</strong> to target high-potential customers <strong style="color: #F29C38;">and boost your solar business today!</strong></p>
        <div class="button-container">
            <button id="companyLogin" class="side-button">Company Login</button>
            <button id="tryDemo" class="main-button pulsate">Try the demo!</button>
            <button id="aboutProject" class="side-button">About Solar Leads</button>
        </div>
        <p class="description">Unsure of how to use Solar Leads? Watch the video below:</p>
        <div class="video-container">
            <iframe 
                width="560" 
                height="200" 
                src="https://www.youtube-nocookie.com/embed/yf_QTJpTuek?rel=0" 
                title="Product Demo Video" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
        <p class="info-message">A project developed by <a href="https://www.linkedin.com/in/alessandro-rossi1/" target="_blank" rel="noopener noreferrer" id="author-link">Alessandro Rossi</a>. For any inquiries, please send an email to <a href="mailto:solar.leads@outlook.com" id="author-link">solar.leads@outlook.com</a>.</p>
        <p class="info-message">Part of the "<a href="https://6cleantechaistartupsin6months.com/" target="_blank" rel="noopener noreferrer" id="author-link">6 Cleantech AI Startups in 6 Months</a>" project.</p>
        <img src="{{ url_for('static', filename='images/Horizontal Logo with writing 6 Cleantech AI Startups in 6 Months.svg') }}" alt="6 Cleantech AI Startups in 6 Months Logo" class="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</body>
</html>
