<!-- Purpose: This is the role selection page for the demo, allowing the user to select between "Canvasser", "Team Leader" or "Manager". -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Leads - Role Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="flex-container">
        <button id="backToLogin" onclick="window.location.href='/'">Back to Login</button>
        <h1>Select a Predefined Character</h1>
        <p class="data-tip"><strong>Tip:</strong> For the best demo experience, it's recommended choosing a predefined character. This allows you to explore the product's features with pre-populated data, giving you a clear view of how information is utilized across different roles and users. If you prefer, you can also create your own character by scrolling down.</p>
        <div class="character-grid">
            <div class="character-card" onclick="selectCharacter('Canvasser', 'Gastani Frinzi')">
                <img src="{{ url_for('static', filename='images/canvasser.png') }}" alt="Canvasser">
                <h3>Gastani Frinzi</h3>
                <p>Canvasser</p>
            </div>
            <div class="character-card" onclick="selectCharacter('Canvasser', 'Leo Meo')">
                <img src="{{ url_for('static', filename='images/canvasser.png') }}" alt="Canvasser">
                <h3>Leo Meo</h3>
                <p>Canvasser</p>
            </div>
            <div class="character-card" onclick="selectCharacter('Canvasser', 'Elise Bonjour')">
                <img src="{{ url_for('static', filename='images/canvasser.png') }}" alt="Canvasser">
                <h3>Elise Bonjour</h3>
                <p>Canvasser</p>
            </div>
            <div class="character-card" onclick="selectCharacter('Team Leader', 'Stephany Wellingthon')">
                <img src="{{ url_for('static', filename='images/team_leader.png') }}" alt="Team Leader">
                <h3>Stephany Wellingthon</h3>
                <p>Team Leader</p>
            </div>
            <div class="character-card" onclick="selectCharacter('Manager', 'Isaac Asimov')">
                <img src="{{ url_for('static', filename='images/manager.png') }}" alt="Manager">
                <h3>Isaac Asimov</h3>
                <p>Manager</p>
            </div>
        </div>
        
        <h1>Select Your Own Character</h1>
        <p class="data-tip"><strong>Tip:</strong> If you prefer, you can create your own character by entering a nickname below and selecting a role.</p>
        <form action="{{ url_for('role_selection') }}" method="post">
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input type="text" id="nickname" name="nickname" required>
            </div>
            <div class="role-selection">
                <div class="role-option" style="text-align: center;">
                    <img src="{{ url_for('static', filename='images/canvasser.png') }}" alt="Canvasser" style="width: 100px; height: 100px; margin-bottom: 10px;">
                    <button type="submit" name="role" value="Canvasser" style="width: 300px">Canvasser</button>
                </div>
                <div class="role-option" style="text-align: center;">
                    <img src="{{ url_for('static', filename='images/team_leader.png') }}" alt="Team Leader" style="width: 100px; height: 100px; margin-bottom: 10px;">
                    <button type="submit" name="role" value="Team Leader" style="width: 300px">Team Leader</button>
                </div>
                <div class="role-option" style="text-align: center;">
                    <img src="{{ url_for('static', filename='images/manager.png') }}" alt="Manager" style="width: 100px; height: 100px; margin-bottom: 10px;">
                    <button type="submit" name="role" value="Manager" style="width: 300px">Manager</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

